.title {
	font-size: 25px;
}

.navbar-height {
	height: 75px;
}

.navbar-link {
	margin-top: 15px;
	font-family: "Calligraffitti", cursive;
}

.navbar-title{
	margin-top: 15px;
	 font-family: "Calligraffitti", cursive;
	 font-size: 34px;
}